<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Portal de Biblioteca {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Portal de Biblioteca</h1>

    <a href="/">Inicio</a><br>

    <a href="/login">Login</a><br>

    <a href="{{ url_for('mostrar_libros') }}">Libros</a><br>

    <a href="/perfil">Perfil</a><hr>

    {% block content %}

    {% endblock %}

</body>


</html>